    
    .large-3 {
       /*idth: 25%;*/
        flex-basis:25%;
    }
    .large-6{flex-basis:50%;}

    .section-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .edit-user-form{
        height:16rem;
    }
     
    .edit-category-table{
        height:20rem;
    }
  
    nav ul {margin-left: 2vw;}
    nav li {width:auto;}
    nav a {padding: .7rem 1rem;}
    
    
    
 /* end of media query */